.shopping-cart {
  max-width: 1440px;
  height: 75%;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

  position: relative;

  overflow-y: hidden;
}

.main {
  height: 100%;
  background-color: cornflowerblue;
  position: relative;

  flex-basis: 65%;

  overflow: auto;
  box-sizing: border-box;
}

.cart-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.cart-items {
  padding: 20px 10px 0;
}

.items-horizontal-divider {
  border: 1px solid #FFFFFF;
}

.main.overlay {
  overflow: hidden;
}

.aside {
  height: 100%;
  flex-basis: 35%;
  box-sizing: border-box;

  padding: 0 10px;
  box-sizing: border-box;
  background-color: darkgoldenrod;

  position: relative;
}

.aside.overlay {
  overflow: hidden;
}

.proceed-info {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}