.footer {
  background-color: cadetblue;

  height: 15%;

  flex-basis: 100%;
  box-sizing: border-box;
}

.top-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 59%;
}

.social-links {
  flex-basis: 180px;
}

.social-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  width: 30px;
  height: 30px;
  display: block;
}

.social-link-item {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.social-link-item:hover {
  cursor: pointer;
  transition: all 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.social-link-item:nth-child(1) {
  background: url("../../assets/svg/vk-logo.svg") no-repeat center / contain;
}

.social-link-item:nth-child(2) {
  background: url("../../assets/svg/instagram-logo.svg") no-repeat center / contain;
}

.social-link-item:nth-child(3) {
  background: url("../../assets/svg/telegram-logo.svg") no-repeat center / contain;
}

.social-link-item:nth-child(4) {
  background: url("../../assets/svg/you-tube-logo.svg") no-repeat center / contain;
}

.footer-hr {
  height: 1%;
  background-color: gray;
}

.bottom-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40%;
}

.bottom-footer_github-link {
  background: url("../../assets/svg/git-hub-logo.svg") no-repeat center / contain;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
}

.bottom-footer_github-link:hover {
  transition: all 0.3s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}